*{
  margin: 0;
  padding:0;
}
body{
  font-family:consolas, monaco;
  background-image: url("grfx/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ol{
  list-style: none;
}
h1{
  color:black;
  background-color: rgb(255, 175, 26);
  padding: 5px;
  border-radius: 5px;
}
h2{
  color:black;
  background-color: rgb(255, 175, 26);
  padding: 5px;
  border-radius: 5px;
}
a{
  color: rgb(255, 50, 26);
  text-decoration: underline;
}
a:hover{
  color: rgb(0, 0, 26);
}
nav{
  width: inherit;
  display: inline;
}
nav ul{
  list-style: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: white;
}
nav ul li{
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
nav ul li:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
#wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
 main{
  width: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  border-radius: 5px;
}
#main-beroep{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  border-radius: 5px;
}
aside{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex:1;
  padding: 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
#how{
  width: 650px;
  height: 300px;
}
#voetbal{
  max-width: 100%;
  max-height: 100%;
  width: 650px;
  height: 120px;
  padding: 5px;
}
#opdrcontainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.opdrachten{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 5px;
}
#textpage2{
  width: 550px;
}
.footer{
  width: inherit;
  color: rgb(255, 175, 26);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;

}
.personalia{
  font-size: 25px;
}

/*MEDIA QUERY 

@media screen and (max-width: 554px){
  body{
    margin-left: 0%;
    margin-right: 0%;
  }
  #wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  nav ul{
    display: flex;
    flex-direction: column;
  }
  main{
    font-size: 12px;
    width: 100%;
  }
  .main-pages{
    font-size: 12px;
    width: 100%;
  }
  .opdrachten{
    width: 100%;
    height: 50%;
  }
  aside{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav{
    width: 100%;
    font-size: 20px;

  }
  .footer{
    width: 100%;

}  */